.root {
  display: flex;
  flex-direction: row;
  padding: var(--t-spacing-sm);
  gap: var(--t-spacing-sm);
}
.name {
}
.email {
  color: var(--t-color-secondary-alt);
}
.deleteButton {
  margin-left: auto;
}
