.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--t-spacing-sm);

  align-items: center;
  justify-content: center;
  background: var(--t-color-background);
}

.loginInfo {
  display: flex;
  flex-direction: row;
  gap: var(--t-spacing-sm);
  align-items: center;
}
