.layout {
    height: calc(100vh - 110px);
    background: var(--t-color-background-alt);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.aside {
    background: var(--t-color-background-alt);
    box-sizing: border-box;
    height: calc(100vh - 110px);
    flex-basis: 250px;
    overflow-y: scroll;
}

.aside::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}

.aside::-webkit-scrollbar-thumb {
    background: var(--t-color-primary);
}

.aside:empty {
    display: none;
}

.main {
    padding: var(--t-spacing-md);
    background: var(--t-color-background);
    box-sizing: border-box;
    height: calc(100vh - 110px);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100vw - 270px);
}

.top {
    background: var(--t-color-background-alt);
    box-sizing: border-box;
    flex: 1 0 100%;
}
