.root {
  display: flex;
  padding: var(--t-spacing-xs);
  align-items: center;
}

.title {
  flex: 1;
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.extra {
  justify-self: end;
  display: flex;
  gap: var(--t-spacing-sm);
}
