.root {
  background: var(--t-color-surface-alt);
  display: flex;
  flex-direction: row;
  gap: var(--t-spacing-sm);
  align-items: center;
}

.title {
}

.year {
  margin-left: auto;
  margin-right: var(--t-spacing-sm);
  color: var(--t-color-success-alt);
}

.avatar {
}
